{:blocks (
{:block/created-at 1739924375842
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "67767acd-45f5-41d7-b260-b2ca44dc3dd8"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [344 379.14058976707]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "edf105c3-cab2-11ef-90b8-b3e8fd6eb007"
:noFill false
:isLocked false
:point [384 512]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1735818949623}}
:block/updated-at 1739924375842} 
{:block/created-at 1739924357129
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "many to many"
:id "edf105c8-cab2-11ef-90b8-b3e8fd6eb007"
:fontWeight 400
:noFill true
:isLocked false
:point [1219.72 850.26]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 129.74]
:bindingId "edf105d7-cab2-11ef-90b8-b3e8fd6eb007"}
:end 
{:id "end"
:canBind true
:point [104.28 0]
:bindingId "edf105d8-cab2-11ef-90b8-b3e8fd6eb007"}}
:decorations 
{:start "arrow"
:end "arrow"}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1735819067145
:italic false}}
:block/updated-at 1739924357129} 
{:block/created-at 1739924357099
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "67767469-542f-48c0-b2a5-188b3fea1232"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [408 659.1718369376318]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:noFill false
:isLocked false
:point [1328 464]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1735818924069}}
:block/updated-at 1739924357099} 
{:block/created-at 1739924375841
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "many to many"
:id "edf105c9-cab2-11ef-90b8-b3e8fd6eb007"
:fontWeight 400
:noFill true
:isLocked false
:point [732 709.6]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "edf105d9-cab2-11ef-90b8-b3e8fd6eb007"}
:end 
{:id "end"
:canBind true
:point [592 27.03]
:bindingId "edf105da-cab2-11ef-90b8-b3e8fd6eb007"}}
:decorations 
{:start "arrow"
:end nil}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1735819384298
:italic false}}
:block/updated-at 1739924375841} 
{:block/created-at 1736005552679
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "edf105c4-cab2-11ef-90b8-b3e8fd6eb007"
:fontWeight 400
:noFill true
:isLocked false
:point [1736 832]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [1 1]}}
:decorations 
{:end "arrow"}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1735819064660
:italic false}}
:block/updated-at 1736005552679} 
{:block/created-at 1739924239938
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "67767430-00f2-4a86-81b0-84828fbfc695"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 533.3904764206038]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "edf105c2-cab2-11ef-90b8-b3e8fd6eb007"
:noFill false
:isLocked false
:point [816 984]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1735818944519}}
:block/updated-at 1739924239938} 
{:block/uuid #uuid "677bc8fb-fce2-4301-9d11-bf98f9e84b67"
:block/properties 
{}
:block/updated-at 1739657682486
:block/left 
{:block/uuid #uuid "67864ce7-370e-4c8b-a972-5de871c6b304"}
:block/created-at 1739657682486
:block/format :markdown
:block/content "![pepe-silvia](https://wac-cdn.atlassian.com/dam/jcr:08d5b957-818c-4c4e-a140-fd4cccaaa599/meme.png?cdnVersion=2484)\nthis was a bit more complicated originally with individual tables for sites from different data sources, but decided to combine all sources into one table for easier querying"
:block/parent 
{:block/uuid #uuid "67864ce7-370e-4c8b-a972-5de871c6b304"}} 
{:block/created-at 1739924376175
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "677bc8fb-fce2-4301-9d11-bf98f9e84b67"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 403.00001810400965]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ae5372b0-cc27-11ef-b528-4109217eb9c1"
:noFill false
:isLocked false
:point [896 80]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1736165627519}}
:block/updated-at 1739924376175} 
{:block/created-at 1739924375842
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 7
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "b7de3a42-cc27-11ef-b528-4109217eb9c1"
:fontWeight 400
:noFill true
:point [706.74 895.14]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "b7de3a40-cc27-11ef-b528-4109217eb9c1"}
:end 
{:id "end"
:canBind true
:point [105.26 135.16]
:bindingId "b7de3a41-cc27-11ef-b528-4109217eb9c1"}}
:decorations 
{:start "arrow"
:end nil}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1736165643491
:italic false}}
:block/updated-at 1739924375842} 
{:block/uuid #uuid "67b51227-7dfb-4134-b2c0-b30bc10633c9"
:block/properties 
{}
:block/updated-at 1739919928901
:block/left 
{:block/uuid #uuid "677bc8fb-fce2-4301-9d11-bf98f9e84b67"}
:block/created-at 1739919928901
:block/format :markdown
:block/content "Lexicons"
:block/parent 
{:block/uuid #uuid "67864ce7-370e-4c8b-a972-5de871c6b304"}} 
{:block/created-at 1739924362216
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 8
:scale [1 1]
:pageId "67b51227-7dfb-4134-b2c0-b30bc10633c9"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.9999805868657]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "cc2e5b50-ee4c-11ef-95ed-ddd15dca3d52"
:noFill false
:point [1888 832]
:parentId "67864ce7-370e-4c8b-a972-5de871c6b304"
:collapsedHeight 0
:nonce 1739919908763}}
:block/updated-at 1739924362216} 
{:block/created-at 1739924362217
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 9
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "ddf26432-ee4c-11ef-95ed-ddd15dca3d52"
:fontWeight 400
:noFill true
:point [1740 821.77]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "ddf26430-ee4c-11ef-95ed-ddd15dca3d52"}
:end 
{:id "end"
:canBind true
:point [144 19.52]
:bindingId "ddf26431-ee4c-11ef-95ed-ddd15dca3d52"}}
:decorations 
{:start "arrow"
:end "arrow"}
:parentId "67864ce7-370e-4c8b-a972-5de871c6b304"
:nonce 1739919938179
:italic false}}
:block/updated-at 1739924362217} 
{:block/content "Tags"
:block/format :markdown
:block/left 
{:block/uuid #uuid "67b51227-7dfb-4134-b2c0-b30bc10633c9"}
:block/parent 
{:block/uuid #uuid "67864ce7-370e-4c8b-a972-5de871c6b304"}
:block/uuid #uuid "67b51254-ff3f-4ddd-9220-0aef2edc12f9"} 
{:block/created-at 1739924363984
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 10
:scale [1 1]
:pageId "67b51254-ff3f-4ddd-9220-0aef2edc12f9"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.99999835814686]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "e55590d0-ee4c-11ef-95ed-ddd15dca3d52"
:noFill false
:point [1528 1256]
:parentId "67864ce7-370e-4c8b-a972-5de871c6b304"
:collapsedHeight 0
:nonce 1739919950809}}
:block/updated-at 1739924363984} 
{:block/created-at 1739924363985
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 11
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "eb8b6102-ee4c-11ef-95ed-ddd15dca3d52"
:fontWeight 400
:noFill true
:point [1597.8 1127.17]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "eb8b6100-ee4c-11ef-95ed-ddd15dca3d52"}
:end 
{:id "end"
:canBind true
:point [24.62 124.83]
:bindingId "eb8b6101-ee4c-11ef-95ed-ddd15dca3d52"}}
:decorations 
{:start "arrow"
:end "arrow"}
:parentId "67864ce7-370e-4c8b-a972-5de871c6b304"
:nonce 1739919961037
:italic false}}
:block/updated-at 1739924363985} 
{:block/content "Licenses"
:block/format :markdown
:block/left 
{:block/uuid #uuid "67b51254-ff3f-4ddd-9220-0aef2edc12f9"}
:block/parent 
{:block/uuid #uuid "67864ce7-370e-4c8b-a972-5de871c6b304"}
:block/uuid #uuid "67b51283-4ee6-4fb4-af73-40d77322b573"} 
{:block/uuid #uuid "67b51290-de3d-4c53-b156-a389d3c7a76b"
:block/properties 
{}
:block/updated-at 1739920034621
:block/left 
{:block/uuid #uuid "67b51283-4ee6-4fb4-af73-40d77322b573"}
:block/created-at 1739920034621
:block/format :markdown
:block/content "Topics"
:block/parent 
{:block/uuid #uuid "67864ce7-370e-4c8b-a972-5de871c6b304"}} 
{:block/created-at 1739924381217
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 12
:scale [1 1]
:pageId "67b51290-de3d-4c53-b156-a389d3c7a76b"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 40.99990950174107]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "084225e0-ee4d-11ef-95ed-ddd15dca3d52"
:noFill false
:point [1288 1432]
:parentId "67864ce7-370e-4c8b-a972-5de871c6b304"
:collapsedHeight 0
:nonce 1739920009352}}
:block/updated-at 1739924381217} 
{:block/created-at 1739924381235
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 13
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "0eab8930-ee4d-11ef-95ed-ddd15dca3d52"
:fontWeight 400
:noFill true
:point [1220 1319.09]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [218.78 108.91]
:bindingId "0eab6220-ee4d-11ef-95ed-ddd15dca3d52"}
:end 
{:id "end"
:canBind true
:point [0 0]
:bindingId "0eab6221-ee4d-11ef-95ed-ddd15dca3d52"}}
:decorations 
{:start "arrow"
:end "arrow"}
:parentId "67864ce7-370e-4c8b-a972-5de871c6b304"
:nonce 1739920019942
:italic false}}
:block/updated-at 1739924381235})
:pages (
{:block/uuid #uuid "67864ce7-370e-4c8b-a972-5de871c6b304"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "67864ce7-370e-4c8b-a972-5de871c6b304"
:name "schema"
:bindings 
{:edf105d8-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105d8-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c8-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "end"
:point [0.29 0.36]
:distance 4}
:edf105da-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105da-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c9-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "end"
:point [0.54 0.43]
:distance 4}
:0eab6221-ee4d-11ef-95ed-ddd15dca3d52 
{:id "0eab6221-ee4d-11ef-95ed-ddd15dca3d52"
:type "line"
:fromId "0eab8930-ee4d-11ef-95ed-ddd15dca3d52"
:toId "edf105c2-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "end"
:point [0.53 0.45]
:distance 4}
:ddf26431-ee4c-11ef-95ed-ddd15dca3d52 
{:id "ddf26431-ee4c-11ef-95ed-ddd15dca3d52"
:type "line"
:fromId "ddf26432-ee4c-11ef-95ed-ddd15dca3d52"
:toId "cc2e5b50-ee4c-11ef-95ed-ddd15dca3d52"
:handleId "end"
:point [0.38 0.7]
:distance 4}
:edf105d9-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105d9-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c9-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c3-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:edf105d7-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105d7-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c8-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c2-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.21 0.74]
:distance 4}
:ddf26430-ee4c-11ef-95ed-ddd15dca3d52 
{:id "ddf26430-ee4c-11ef-95ed-ddd15dca3d52"
:type "line"
:fromId "ddf26432-ee4c-11ef-95ed-ddd15dca3d52"
:toId "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:b7de3a41-cc27-11ef-b528-4109217eb9c1 
{:id "b7de3a41-cc27-11ef-b528-4109217eb9c1"
:type "line"
:fromId "b7de3a42-cc27-11ef-b528-4109217eb9c1"
:toId "edf105c2-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "end"
:point [0.71 0.78]
:distance 4}
:eb8b6100-ee4c-11ef-95ed-ddd15dca3d52 
{:id "eb8b6100-ee4c-11ef-95ed-ddd15dca3d52"
:type "line"
:fromId "eb8b6102-ee4c-11ef-95ed-ddd15dca3d52"
:toId "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:0eab6220-ee4d-11ef-95ed-ddd15dca3d52 
{:id "0eab6220-ee4d-11ef-95ed-ddd15dca3d52"
:type "line"
:fromId "0eab8930-ee4d-11ef-95ed-ddd15dca3d52"
:toId "084225e0-ee4d-11ef-95ed-ddd15dca3d52"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:eb8b6101-ee4c-11ef-95ed-ddd15dca3d52 
{:id "eb8b6101-ee4c-11ef-95ed-ddd15dca3d52"
:type "line"
:fromId "eb8b6102-ee4c-11ef-95ed-ddd15dca3d52"
:toId "e55590d0-ee4c-11ef-95ed-ddd15dca3d52"
:handleId "end"
:point [0.25 0.37]
:distance 4}
:b7de3a40-cc27-11ef-b528-4109217eb9c1 
{:id "b7de3a40-cc27-11ef-b528-4109217eb9c1"
:type "line"
:fromId "b7de3a42-cc27-11ef-b528-4109217eb9c1"
:toId "edf105c3-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.5 0.5]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("edf105c1-cab2-11ef-90b8-b3e8fd6eb007" "edf105c2-cab2-11ef-90b8-b3e8fd6eb007" "edf105c3-cab2-11ef-90b8-b3e8fd6eb007" "edf105c4-cab2-11ef-90b8-b3e8fd6eb007" "edf105c8-cab2-11ef-90b8-b3e8fd6eb007" "edf105c9-cab2-11ef-90b8-b3e8fd6eb007" "ae5372b0-cc27-11ef-b528-4109217eb9c1" "b7de3a42-cc27-11ef-b528-4109217eb9c1" "cc2e5b50-ee4c-11ef-95ed-ddd15dca3d52" "ddf26432-ee4c-11ef-95ed-ddd15dca3d52" "e55590d0-ee4c-11ef-95ed-ddd15dca3d52" "eb8b6102-ee4c-11ef-95ed-ddd15dca3d52" "084225e0-ee4d-11ef-95ed-ddd15dca3d52" "0eab8930-ee4d-11ef-95ed-ddd15dca3d52")}}
:block/journal? false
:block/updated-at 1739924381253
:block/created-at 1736005530930
:block/type "whiteboard"
:block/name "schema"
:block/original-name "schema"})}