{:blocks (
{:block/created-at 1736181536419
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "67767acd-45f5-41d7-b260-b2ca44dc3dd8"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [344 114.99999087661311]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "edf105c3-cab2-11ef-90b8-b3e8fd6eb007"
:noFill false
:isLocked false
:point [208 520]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1735818949574}}
:block/updated-at 1736181536419} 
{:block/created-at 1736181536438
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 4
:scale [1 1]
:refs []
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "many to many"
:id "edf105c8-cab2-11ef-90b8-b3e8fd6eb007"
:fontWeight 400
:noFill true
:isLocked false
:point [985.52 583]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 397]
:bindingId "edf105d7-cab2-11ef-90b8-b3e8fd6eb007"}
:end 
{:id "end"
:canBind true
:point [383.15 0]
:bindingId "edf105d8-cab2-11ef-90b8-b3e8fd6eb007"}}
:decorations 
{:start "arrow"
:end "arrow"}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1735819067136
:italic false}}
:block/updated-at 1736181536438} 
{:block/created-at 1736181536410
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "67767469-542f-48c0-b2a5-188b3fea1232"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [408 114.99999087661311]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:noFill false
:isLocked false
:point [1328 464]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1735818924061}}
:block/updated-at 1736181536410} 
{:block/created-at 1736181536438
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 5
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "many to many"
:id "edf105c9-cab2-11ef-90b8-b3e8fd6eb007"
:fontWeight 400
:noFill true
:isLocked false
:point [556 525.31]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 42.46]
:bindingId "edf105d9-cab2-11ef-90b8-b3e8fd6eb007"}
:end 
{:id "end"
:canBind true
:point [768 0]
:bindingId "edf105da-cab2-11ef-90b8-b3e8fd6eb007"}}
:decorations 
{:start "arrow"
:end "arrow"}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1735819384235
:italic false}}
:block/updated-at 1736181536438} 
{:block/created-at 1736005552679
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 3
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "edf105c4-cab2-11ef-90b8-b3e8fd6eb007"
:fontWeight 400
:noFill true
:isLocked false
:point [1736 832]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]}
:end 
{:id "end"
:canBind true
:point [1 1]}}
:decorations 
{:end "arrow"}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1735819064660
:italic false}}
:block/updated-at 1736005552679} 
{:block/created-at 1736181536416
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "67767430-00f2-4a86-81b0-84828fbfc695"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 114.99999087661311]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "edf105c2-cab2-11ef-90b8-b3e8fd6eb007"
:noFill false
:isLocked false
:point [816 984]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1735818944515}}
:block/updated-at 1736181536416} 
{:block/created-at 1736165676408
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "677957dd-04b1-42af-8b7e-982a17690f30"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 360.3905891121674]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "1fd4ef20-cab3-11ef-90b8-b3e8fd6eb007"
:noFill false
:point [1312 968]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1736005615491}}
:block/updated-at 1736165676408} 
{:block/content "![pepe-silvia](https://wac-cdn.atlassian.com/dam/jcr:08d5b957-818c-4c4e-a140-fd4cccaaa599/meme.png?cdnVersion=2484)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6779579a-8cf6-4c3c-9bc7-381c809b267a"}
:block/parent 
{:block/uuid #uuid "6779579a-8cf6-4c3c-9bc7-381c809b267a"}
:block/uuid #uuid "677bc8fb-fce2-4301-9d11-bf98f9e84b67"} 
{:block/created-at 1736181540843
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 7
:scale [1 1]
:pageId "677bc8fb-fce2-4301-9d11-bf98f9e84b67"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 306.99997467203394]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ae5372b0-cc27-11ef-b528-4109217eb9c1"
:noFill false
:isLocked false
:point [440 96]
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:collapsedHeight 0
:nonce 1736165627393}}
:block/updated-at 1736181540843} 
{:block/created-at 1736181536441
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 8
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label "independent!\ndo this separately"
:id "b7de3a42-cc27-11ef-b528-4109217eb9c1"
:fontWeight 400
:noFill true
:point [469.04 639]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "b7de3a40-cc27-11ef-b528-4109217eb9c1"}
:end 
{:id "end"
:canBind true
:point [493.73 341]
:bindingId "b7de3a41-cc27-11ef-b528-4109217eb9c1"}}
:decorations 
{:start "arrow"
:end "arrow"}
:parentId "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:nonce 1736165643338
:italic false}}
:block/updated-at 1736181536441})
:pages (
{:block/uuid #uuid "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6779579a-8cf6-4c3c-9bc7-381c809b267a"
:name "triangle schema"
:bindings 
{:edf105d7-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105d7-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c8-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c2-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.21 0.74]
:distance 4}
:edf105d8-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105d8-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c8-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "end"
:point [0.29 0.36]
:distance 4}
:edf105d9-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105d9-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c9-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c3-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:edf105da-cab2-11ef-90b8-b3e8fd6eb007 
{:id "edf105da-cab2-11ef-90b8-b3e8fd6eb007"
:type "line"
:fromId "edf105c9-cab2-11ef-90b8-b3e8fd6eb007"
:toId "edf105c1-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "end"
:point [0.54 0.43]
:distance 4}
:b7de3a40-cc27-11ef-b528-4109217eb9c1 
{:id "b7de3a40-cc27-11ef-b528-4109217eb9c1"
:type "line"
:fromId "b7de3a42-cc27-11ef-b528-4109217eb9c1"
:toId "edf105c3-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "start"
:point [0.5 0.5]
:distance 4}
:b7de3a41-cc27-11ef-b528-4109217eb9c1 
{:id "b7de3a41-cc27-11ef-b528-4109217eb9c1"
:type "line"
:fromId "b7de3a42-cc27-11ef-b528-4109217eb9c1"
:toId "edf105c2-cab2-11ef-90b8-b3e8fd6eb007"
:handleId "end"
:point [0.71 0.78]
:distance 4}}
:nonce 1
:assets []
:shapes-index ("edf105c1-cab2-11ef-90b8-b3e8fd6eb007" "edf105c2-cab2-11ef-90b8-b3e8fd6eb007" "edf105c3-cab2-11ef-90b8-b3e8fd6eb007" "edf105c4-cab2-11ef-90b8-b3e8fd6eb007" "edf105c8-cab2-11ef-90b8-b3e8fd6eb007" "edf105c9-cab2-11ef-90b8-b3e8fd6eb007" "1fd4ef20-cab3-11ef-90b8-b3e8fd6eb007" "ae5372b0-cc27-11ef-b528-4109217eb9c1" "b7de3a42-cc27-11ef-b528-4109217eb9c1")}}
:block/updated-at 1736181540843
:block/created-at 1736005530930
:block/type "whiteboard"
:block/name "triangle schema"
:block/original-name "triangle schema"})}